.column1{
float: left;
width: 25%;
}
.column2{
    float: left;
    width: 75%;
}
img{
    border: 4px solid black;
}   
figcaption{
    text-align: center;
}
#achievements{
    background-color: #e3f0ff;
}
#biography{
    background-color: #ebfcde;
}
#resources{
    background-color: #f9f6c6;
}
#quote{
    background-color: #ffc1f9;
    font-weight: bolder;
}
#maintitle{
    text-align: center;
    font-size: 45px;
    display: inline;
    margin: 550px;
    padding: 20px;
    background-color: #baffc7cc;
}
